@import url("rental-ie.css");
@import url("rental-faq.css");

div#header { border-bottom: 20px solid #054b81 }
img#for_rent_sign { height: 80px; position: relative; top: 10px; left: 10px }
img#RD_Logo_Blue  { position: relative; left: 40px }
#iconlinks { position: relative; left: 500px }
.bubblewrap { list-style-type:none; margin: 0; padding: 0; }
.bubblewrap li { display:inline-block;
   zoom:1; /*Trigger haslayout in IE7 and less*/
   * display:inline; /*For IE7 and less*/
   position:relative; width: 100px; height:60px; }
.bubblewrap li img { position:absolute; width: 55px; /*default of each image.*/
   height: 60px; /*default height of each image.*/
   left: 0; top: 0; border:0; }
.bubblewrap .tooltip { /* CSS for image tooltip (alt attribute of image) */
   position:absolute; font:bold 12px Arial; padding:2px; width:100px;
   text-align:center; background:transparent; }
#orbs li { width: 65px; height:60px; padding: 15px }
#orbs li img { width: 55px; height: 60px; }

table tbody { border-style: none; margin: 0; padding: 0 }

form#rental-search-form div h2#title { font-size: 2em; font-weight: bold }
table#search { line-height: 0; font-size: .9em }
table#search td#fillin { width: 240px }
table#search td#fillin .form-item { vertical-align: middle; line-height: .6em }
table#search td#fillin label { margin: 1px; width: 110px;
                    display: inline-block; text-align: right; font-size: .9em; }
table#search td#fillin input { margin: 1px; padding: 0; font-size: .8em;
                     display: inline; text-align: right; }
table#search .form-radios, table#search .form-checkboxes { padding: 0 5px 1px}
table#search td#permits { width: 220px; vertical-align: top; text-align: right; padding-top: 10px }
table#search td#permits div.form-radios { margin: 0; width: 80px; padding: 0;
                 position: relative; left: 120px; top: -8px }
table#search td#permits .form-radio { margin: 0; }
table#search td#permits div.form-item { margin-top: 10px; width: 160px }
table#search td#permits div div div.form-item { display: inline }
table#search td#permits label { text-align: right; width: 110px;
    margin: 0; padding: 0; font-size: .9em; font-weight: bold; }
table#search td#permits label input { margin: 0 }
table#search div#rents,
table#search div#rooms,
table#search div#space { margin: 10px 0; padding: 0 }
table#search div#rents div,
table#search div#rooms div,
table#search div#space div { margin: 0; padding: 0 }
table#search td#fillin div#available div.form-radios { margin: 3px 30px}
table#search td#fillin div#available label { width: 50px }
table#search div#edit-date-available-wrapper { height: 10px; margin-top: 0 }
table#search div#available div div div.form-item { display: inline }
table#search div#available div#edit-date-available-wrapper input {
  position: relative; top: -18px; left: -30px }

#primary div#list h3 { margin-bottom: 10px }
#primary div.step { padding: 0 0 20px 40px }
#primary div.step h4 { font-style: italic; color: #73d216;  margin: 0 }
#primary div.step p { font-family: Arial, Helvetica, sans-serif; float: clear; font-style: italic }

#primary div#list { margin-left: 120px; font-size: 1.1em }
#primary div#list h3, #primary div.step h4 {
  font-family: Arial, Helvetica, sans-serif; font-size: 1.2em; font-weight:900}
#primary div#list h3 { color: #054b81; }
#primary div#list p { padding-left: 40px; text-align: justify }
#primary div#list img.right_float { margin: 0 0 0 20px; float: right; height: 130px }
#primary div#list img.left_float  { margin: 0 20px 0 0; float: left;  height: 130px }

div.wrapper #primary div#sitemission p {
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:1.4em; font-style:italic; line-height:120%; text-align:center }

div.wrapper fieldset {border: 1px solid #054b81;}

table#teasers { margin: 0; padding: 0; width: 100%; font-size: .8em }
table#teasers tr.even { background-color: #cff }
table#teasers tr.even:hover { background-color: #ffe }
table#teasers tr.odd { background-color: #eff }
table#teasers tr.odd:hover { background-color:#ffe }
table#teasers div.browse_post { width: 130px }
table#teasers div.browse_post span {
  display: inline-block; width: 45px; text-align: right; font-weight: bold }
img.thumb { height: 50px }

fieldset.ad_post { padding: 20px 12px; font-size: 1.6em; line-height: 1.4em;
                   font: arial }
fieldset.ad_post span { font-weight: bold }
fieldset.ad_unit { padding: 20px 12px; font-size: 1.2em; line-height: 1.2em; }


table#rental { line-height: 0; font-size: .9em }
table#rental .form-radios, table#rental .form-checkboxes { padding: 0 5px 1px}
table#rental .form-item { vertical-align: middle; line-height: .6em }
table#rental #edit-square-feet-wrapper label,
table#rental #edit-acreage-wrapper label { margin: 0; padding: 5px 0 5px 30px;
              font-size: .8em; font-weight: normal; float: left }
table#rental #edit-square-feet,
table#rental #edit-acreage { margin: 0 0 0 5px; float: right }
table#rental #edit-section-8-wrapper label { margin: 5px 0 5px 30px;
          float: left; font-size: .8em; font-weight: normal; }
table#rental #edit-section-8-wrapper label input {
          margin: -5px 0 0 25px; float: right }
table#rental #edit-street-address-wrapper {margin:15px 0 0 0; line-height:100%}
table#rental #edit-street-address-wrapper label { line-height: 120% }
table#rental #edit-street-address-wrapper .description { line-height: 100% }
table .form-item { margin-bottom: 0 }
td.fillin { vertical-align: top; padding: 0 10px; margin: 0 }
td.no_yes { vertical-align: top; padding: 0 10px; margin: 0; width: 20%}
td.rent   { vertical-align: top; padding: 0 10px; margin: 0; width: 20%}
td.cb { border: 1px; vertical-align: top; margin: 0; padding: 0 10px;}
td.cb > div { border: 1px solid #054b81; padding-bottom: 3px }
td.cb .form-checkboxes .form-item, td.cb .form-radios .form-item {margin:1px 0}
td.cb .form-checkboxes, td.cb .form-radios { margin: 1px 0 }
td.cb div label { vertical-align: middle; margin: 0; padding: 10px 5px; color: white; background-color: #054b81; }
td.cb label.option { padding: 1px 0; font-size: .7em;
                     color: #054b81; background-color: white; }
* td.cb div label { font-size: .8em }
td#rp { width: 15%; margin: 10px }

.adcount td, .adcount th { padding: 0 5px 0 }
table#scan td, table#scan th { padding: 0 5px 0; text-align: left }
table#ad_stats td, table#ad_stats th { padding: 0 5px 0; text-align: right }
table.contact td.label { text-align: right; font-weight: bold }
table.rental td, table.contact td, table.search td { padding: 1px 10px }
.end-fieldset { margin: 15px 10px 0 0 }
.standout { margin: 50px }
.street { font-weight: bold }

#rental-quick-search-form .form-item { margin: 0; padding: 0; line-height: 1em }
#rental-quick-search-form label { margin: 1px; width: 70px;
                    display: inline-block; text-align: right; font-size: .8em; }
#rental-quick-search-form input { margin: 1px; padding: 0; font-size: .8em;
                     display: inline; text-align: right; }
#rental-quick-search-form #edit-search {
    font-size: .8em; margin: 10px 0 0 75px; padding: 2px }
* #edit-search { font-size: 1em }

#rental-quick-search-form select { margin: 1px; padding: 0; font-size: .7em;
                     display: inline; text-align: right; }
#rental-quick-search-form #edit-search { font-size: .6em }

#rental-image-form span,
  #ad_post_images span { float: left; font-size: .8em }
#rental-image-form span input,
  #ad_post_images span input { font-size: .8em }
#rental-image-form span.image,
  #ad_post_images span.image { margin:5px; text-align:center }
#rental-image-form img.thumb { height: 60px; margin: 5px 0px }
#ad_post_images img.thumb    { height: 80px; margin: 5px 0px }
#xxrental-image-form div.hovertip img,
  #xxad_post_images div.hovertip img { height: 300px }

div#landlords, div#tenants { line-height: 1.3em; font-size: 1.1em }
.hovertip, .hoverinfo {	width: auto; }

#rental-post-form h2 { margin: 10px 0 20px }
form#rental-lead-first-ad-form #rental td.rent {width: 160px}
#rental td.rent {width: 240px}
#edit-rent-wrapper,
#edit-deposit-wrapper,
#edit-date-available-wrapper { height: 30px }
#edit-rent-wrapper label,
#edit-deposit-wrapper label,
#edit-date-available-wrapper label {
     margin: 0; padding: 0; text-align: right; float: left }
#edit-rent, #edit-deposit, #edit-date-available { margin: 0; float: right }
#edit-for-sale-wrapper label, #edit-ap-required-wrapper label,
#edit-last-month-wrapper label {
     margin: 0; padding: 5px 0 5px 30px; float: left; width: 300px }
#edit-for-sale, #edit-last-month, #edit-ap-required {
     margin: 0 15px 0 5px; float: right }
form#rental-scan-form #edit-rent { float: none }

.clear { overflow: hidden; width: 100%;}
.butt {
  background: transparent url('http://rentdurango.net/misc/button_right.gif')
    no-repeat scroll top right;
  color: #444; display: block; float: left; font: normal 12px arial, sans-serif;
  height: 24px; margin-right: 6px; padding-right: 13px; text-decoration: none;}
.butt span {
  background: transparent url('http://rentdurango.net/misc/button_left.gif')
    no-repeat; display: block; line-height: 14px; padding: 5px 0 5px 18px;}
.butt:hover { background-position: right -24px; color: #000; outline: none;}
.butt:hover span { background-position: 0 -24px; padding: 6px 0 4px 18px;}
.butt:active { background-position: bottom right; color: #444; outline: none;}
.butt:active span { background-position: bottom left; padding: 6px 0 4px 18px;}

.buttons a, .buttons input.form-submit {
    display:block; float:left; margin: 10px;
    border:1px solid #dedede; border-top:1px solid #eee; border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%; line-height:130%; text-decoration:none; font-weight:bold;
    color:#565656; cursor:pointer /* Links */ }
.buttons input.form-submit { width:auto; overflow:visible /* IE6 */ }
.buttons button[type] { line-height:17px; /* Safari */
}*:first-child+html button[type] { padding:4px 10px 3px 7px; /* IE7 */ }

.buttons button img, .buttons a img {
   margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px }
button:hover, .buttons a:hover { /* STANDARD */
    background-color:#dff4ff; border:1px solid #c2e1ef; color:#336699 }
.buttons a:active { background-color:#6299c5; border:1px solid #6299c5; color:#fff }

input.text, .buttons a.text { color:#336699; padding: 5px 10px 6px 27px;
   background: url('http://rentdurango.net/misc/text.png') no-repeat 3px #dff4ff}
.buttons a.text:hover, input.text:hover {
    background-color:#bfd4ef; border:1px solid #dff4ff }
.buttons a.text:active {
    background-color:#9fb4df; border:1px solid #bfd4ef; color:#fff }

input.positive, .buttons a.positive { color:#529214; padding: 5px 10px 6px 27px;
   background: url('http://rentdurango.net/misc/tick.png') no-repeat 3px #e6efc2}
.buttons a.positive:hover, input.positive:hover {
    background-color:#c6dfa2; border:1px solid #e6efc2 }
.buttons a.positive:active{
    background-color:#a6cf82; border:1px solid #c6dfa2; color:#fff }

input.negative, .buttons a.negative  { color:#d12f19; padding: 5px 10px 6px 27px;
   background: url('http://rentdurango.net/misc/cross.png') no-repeat 3px #fbe3e4 }
.buttons a.negative:hover, input.negative:hover{
    background-color: #ebc3c4; border: 1px solid #fbe3e4; color:#fbe3e4 }
.buttons a.negative:active {
    background-color:#dba3a4; border:1px solid #ebc3c4; color:#fff }
a.expiration div { display: block; text-align: center }
a.expiration:hover div { display: none }
a.expiration span { display: none }
a.expiration:hover span { display: block; color: #d12f19; text-align: center }
thead th.expires { text-align: center }
